version: '3.8'

services:
  mongodb:
    image: mongo:7.0
    container_name: accuradio-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=accuradio
    restart: unless-stopped

volumes:
  mongo-data:
